body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-style: Regular;
  color: #333333;
  overflow-y: scroll;
}
html,
body {
  height: 100%;
}
body.hidden {
  overflow: hidden;
}
@media (max-width: 1000px) {
  body.hidden-mob {
    overflow: hidden;
  }
}
body.modal-body {
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: #333333;
}
h1 {
  font-weight: 500;
  font-size: 66px;
  line-height: 114%;
  letter-spacing: 0.01em;
  margin: 0 0 36px 0;
  padding: 0;
}
@media (max-height: 1000px) {
  h1 {
    margin: 0 0 30px 0;
  }
}
@media (max-height: 900px) {
  h1 {
    margin: 0 0 16px 0;
  }
}
@media (max-height: 850px) {
  h1 {
    font-size: 36px ;
  }
}
@media (max-height: 767px) {
  h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 1440px) {
  h1 {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 1300px) {
  h1 {
    font-size: 36px;
    margin: 0 0 16px 0;
  }
}
@media (max-width: 1080px) {
  h1 {
    font-size: 28px !important;
    margin: 0 0 13px 0 !important;
  }
}
p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 0 0 16px 0;
}
@media (max-height: 937px) {
  p {
    font-size: 22px;
  }
}
@media (max-height: 900px) {
  p {
    margin: 0 0 20px 0;
  }
}
@media (max-height: 767px) {
  p {
    font-size: 18px;
    margin: 0 0 14px 0;
  }
}
@media (max-width: 1440px) {
  p {
    font-size: 22px;
  }
}
@media (max-width: 1300px) {
  p {
    font-size: 18px;
    margin: 0 0 14px 0;
  }
}
@media (max-width: 500px) {
  p {
    font-size: 18px;
    margin: 0 0 12px 0;
  }
}
.container {
  max-width: 1660px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 1660px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
}
.blue {
  color: #1562A1;
}
.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
}
.vertical-indent {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .vertical-indent {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.main-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 40px 0;
}
@media (max-width: 768px) {
  .main-title {
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 20px 0;
  }
}
.slider {
  overflow: hidden;
  opacity: 0;
  height: 0;
}
textarea {
  resize: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.shadow {
  top: 125.5px;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  z-index: 4;
  display: none;
}
.shadow.active {
  display: block;
}
.similars-ads {
  background: #F8F8F8;
}
.gray-block {
  background: #F8F8F8;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 60px;
}
input[type="submit"] {
  border: none;
}
.customError {
  margin-top: 2px;
  font-size: 15px;
  line-height: 18px;
  color: #D80027;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.main-form__input--textarea .customError {
  bottom: -13px;
}
.mobile-add-advert {
  display: none;
}
@media (max-width: 500px) {
  .mobile-add-advert {
    display: block;
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 503px;
  }
}
.btn__blue {
  height: 56px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 0 37px;
  background-image: -o-linear-gradient(180.6deg, #006DC6 0.33%, #4BABDF 99.48%);
  background-image: linear-gradient(269.4deg, #006DC6 0.33%, #4BABDF 99.48%);
  border-radius: 7.22581px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  outline: none;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .btn__blue {
    height: 37px;
    font-size: 14px;
    padding: 0 23px;
  }
}
@media (max-width: 1200px) {
  .btn__blue {
    height: 45px;
    font-weight: 500;
    font-size: 22px;
  }
}
.btn__blue:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #1562A1;
  border-radius: 7.22581px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.btn__blue > span {
  position: relative;
  z-index: 1;
}
.btn__blue:hover:after,
.btn__blue:focus:after {
  opacity: 1;
}
.btn__download {
  color: #1562A1;
  font-weight: 400;
  font-size: 20px;
  line-height: 154%;
  margin-left: 60px;
  position: relative;
}
.btn__download:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-download.svg);
  background-repeat: no-repeat;
  background-position: center center;
  left: -30px;
  top: 2px;
}
@media (max-width: 1300px) {
  .btn__download {
    font-size: 14px;
  }
}
header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}
@media (max-height: 1079px) {
  header {
    height: 110px;
  }
}
@media (max-height: 900px) {
  header {
    height: 100px;
  }
}
@media (max-height: 850px) {
  header {
    height: 60px !important;
  }
}
@media (max-width: 1440px) {
  header {
    height: 90px;
  }
}
@media (max-width: 1000px) {
  header {
    height: 50px;
  }
}
.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right a {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #333333;
  text-decoration: none;
}
@media (max-width: 1300px) {
  .header__right a {
    font-size: 18px;
  }
}
.header__right a:first-child {
  margin-right: 59px;
}
.header__right a:nth-child(2) {
  margin-right: 47px;
}
.header__right a:nth-child(3) {
  margin-right: 61px;
}
@media (max-width: 1300px) {
  .header__right a:last-child img {
    width: 24px;
  }
}
@media (max-width: 1000px) {
  .header__right {
    display: none;
  }
}
.header__logo {
  color: #1562A1;
  letter-spacing: 0.01em;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 100%;
  text-decoration: none;
}
.header__logo span {
  color: #333333;
}
@media (max-width: 1000px) {
  .header__logo {
    margin: 0 auto;
  }
}
.main-banner {
  height: calc(100vh - 128px*2);
  overflow: hidden;
}
.main-banner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .main-banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-height: 1079px) {
  .main-banner {
    height: calc(100vh - 110px*2);
  }
}
@media (max-height: 900px) {
  .main-banner {
    height: calc(100vh - 100px*2);
  }
}
@media (max-height: 850px) {
  .main-banner {
    height: calc(100vh - 60px*2) !important;
  }
}
@media (max-width: 1440px) {
  .main-banner {
    height: calc(100vh - 90px*2);
  }
}
@media (max-width: 1000px) {
  .main-banner {
    height: auto !important;
  }
}
.main-banner__text {
  width: 800px;
  padding-top: 80px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-height: 1000px) {
  .main-banner__text {
    padding-top: 30px;
  }
}
@media (max-height: 950px) {
  .main-banner__text {
    padding-top: 20px;
  }
}
@media (max-height: 900px) {
  .main-banner__text {
    padding-top: 26px;
  }
}
@media (max-height: 850px) {
  .main-banner__text {
    padding-top: 20px !important;
    width: 683px !important;
  }
}
@media (max-width: 1660px) {
  .main-banner__text {
    padding-top: 30px;
  }
}
@media (max-width: 1440px) {
  .main-banner__text {
    width: 733px;
  }
}
@media (max-width: 1000px) {
  .main-banner__text {
    width: 100% !important;
    padding-top: 20px;
  }
}
@media (max-width: 1000px) {
  .main-banner__text h1 {
    text-align: center;
  }
}
.main-banner.main-banner--404 h1 {
  font-weight: 500;
  font-size: 280px;
  line-height: 114%;
  letter-spacing: 0.01em;
  color: #1562A1;
  margin: 0;
}
@media (max-width: 1000px) {
  .main-banner.main-banner--404 h1 {
    font-size: 70px;
    text-align: center;
  }
}
.main-banner.main-banner--404 p {
  font-size: 36px;
  line-height: 48px;
}
@media (max-width: 1000px) {
  .main-banner.main-banner--404 p {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
}
.main-banner.main-banner--404 .main-banner__btns {
  margin-bottom: 0;
  margin-top: 80px;
}
@media (max-width: 1000px) {
  .main-banner.main-banner--404 .main-banner__btns {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main-banner__tab {
  color: #1562A1;
  font-weight: 400;
  font-size: 24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  border: 1px solid #90A4AE;
  border-radius: 8px;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
}
.main-banner__tab:hover {
  border-color: #1562A1;
  background: #1562A1;
  color: #fff;
}
@media (max-height: 1000px) {
  .main-banner__tab {
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
    height: 40px;
  }
}
@media (max-height: 850px) {
  .main-banner__tab {
    font-size: 16px !important;
    margin-top: 12px !important;
    height: 31px !important;
  }
}
@media (max-width: 1000px) {
  .main-banner__tab {
    font-size: 20px;
    padding: 10px;
    height: auto;
  }
}
@media (max-width: 500px) {
  .main-banner__tab {
    font-size: 20px;
    padding: 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 10px 0;
    font-size: 20px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    height: auto !important;
  }
}
.main-banner__btns {
  margin-top: auto;
  margin-bottom: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
}
@media (max-height: 937px) {
  .main-banner__btns {
    margin-bottom: 30px;
  }
}
@media (max-height: 840px) {
  .main-banner__btns {
    margin-bottom: 25px;
  }
}
@media (max-height: 611px) {
  .main-banner__btns {
    margin-bottom: 10px;
  }
}
@media (max-width: 1440px) {
  .main-banner__btns {
    margin-bottom: 40px;
  }
}
@media (max-width: 1300px) {
  .main-banner__btns {
    margin-bottom: 0px;
  }
}
@media (max-width: 1000px) {
  .main-banner__btns {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media (max-width: 519px) {
  .main-banner__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 519px) {
  .main-banner__btns .btn__download {
    margin: 15px 0 0 30px;
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@-webkit-keyframes float1 {
  100% {
    bottom: 220px;
  }
}
@keyframes float1 {
  100% {
    bottom: 220px;
  }
}
.main-banner__img {
  position: relative;
  padding-left: 70px;
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45.2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-height: 950px) {
  .main-banner__img {
    width: 40.5%;
    padding-left: 0;
    padding-bottom: 20px;
  }
}
@media (max-height: 900px) {
  .main-banner__img {
    padding-left: 118px;
    padding-bottom: 10px;
    width: 43.4%;
  }
}
@media (max-height: 881px) {
  .main-banner__img {
    padding-bottom: 10px !important;
  }
}
@media (max-height: 630px) {
  .main-banner__img {
    padding-bottom: 58px !important;
  }
}
@media (max-width: 1440px) {
  .main-banner__img {
    width: 42.4%;
    padding-left: 66px;
    padding-bottom: 65px;
  }
}
@media (max-width: 1300px) {
  .main-banner__img {
    width: 34%;
    padding-left: 28px;
  }
}
@media (max-width: 1000px) {
  .main-banner__img {
    width: 100%;
    padding: 11px 0 0 0 !important;
  }
}
.main-banner__img .yoga-guy {
  position: absolute;
  width: 456px;
  height: 499px;
  bottom: 220px;
  background-image: url(../img/yoga-guy.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.main-banner__img .yoga-guy.active {
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
.main-banner__img .yoga-guy.active:before {
  opacity: 0;
}
@media (max-height: 979px) {
  .main-banner__img .yoga-guy {
    bottom: 187px;
  }
}
@media (max-height: 900px) {
  .main-banner__img .yoga-guy {
    width: 444px;
    height: 487px;
    bottom: 170px;
  }
}
@media (max-height: 881px) {
  .main-banner__img .yoga-guy {
    width: 330px !important;
    height: 358px !important;
    bottom: 136px !important;
  }
}
@media (max-height: 688px) {
  .main-banner__img .yoga-guy {
    width: 238px !important;
    height: 261px !important;
    bottom: 166px !important;
  }
}
@media (max-height: 577px) {
  .main-banner__img .yoga-guy {
    width: 238px !important;
    height: 261px !important;
    bottom: 147px !important;
  }
}
@media (max-width: 1440px) {
  .main-banner__img .yoga-guy {
    width: 385px;
    height: 421px;
    bottom: 205px;
  }
}
@media (max-width: 1000px) {
  .main-banner__img .yoga-guy {
    position: relative;
    bottom: -20px !important;
    width: 250px !important;
    height: 273px !important ;
  }
}
.main-banner__img .yoga-guy:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 53px;
  height: 12px;
  background-image: url(../img/eyes.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 72px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
}
@media (max-height: 881px) {
  .main-banner__img .yoga-guy:before {
    width: 44px !important;
    height: 9px !important;
    top: 53px !important;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-height: 688px) {
  .main-banner__img .yoga-guy:before {
    width: 32px !important;
    height: 7px !important;
    top: 37px !important;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 1440px) {
  .main-banner__img .yoga-guy:before {
    top: 61px;
    width: 49px;
    height: 11px;
  }
}
@media (max-width: 1000px) {
  .main-banner__img .yoga-guy:before {
    top: 40px !important;
    width: 32px !important;
    height: 7px !important;
    -webkit-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
  }
}
.main-banner__img .books {
  width: 397px;
  margin-top: auto;
}
@media (max-height: 979px) {
}
@media (max-height: 900px) {
  .main-banner__img .books {
    width: 383px;
  }
}
@media (max-height: 881px) {
  .main-banner__img .books {
    width: 300px !important;
  }
}
@media (max-height: 688px) {
  .main-banner__img .books {
    width: 230px !important;
  }
}
@media (max-height: 577px) {
  .main-banner__img .books {
    width: 208px !important;
  }
}
@media (max-width: 1440px) {
  .main-banner__img .books {
    width: 335px;
  }
}
@media (max-width: 1000px) {
  .main-banner__img .books {
    width: 237px !important;
  }
}
.main-banner__img.main-banner__img--inner {
  padding-left: 0;
  padding-top: 22px;
}
@media (max-height: 950px) {
  .main-banner__img.main-banner__img--inner {
    padding: 0;
  }
}
@media (max-width: 1000px) {
  .main-banner__img.main-banner__img--inner {
    padding: 0px;
  }
}
.main-banner__img.main-banner__img--inner img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
@media (max-width: 1000px) {
  .main-banner__img.main-banner__img--inner img {
    width: 300px;
  }
}
.main-banner--404 .main-banner__img.main-banner__img--inner {
  padding-left: 0px;
  padding-top: 22px;
  padding-bottom: 0;
  width: 50%;
}
@media (max-height: 743px) {
  .main-banner--404 .main-banner__img.main-banner__img--inner {
    padding-left: 50px;
  }
}
@media (max-width: 1000px) {
  .main-banner--404 .main-banner__img.main-banner__img--inner {
    padding: 0px;
    width: 100%;
  }
}
.main-banner--404 .main-banner__img.main-banner__img--inner img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
@media (max-width: 1000px) {
  .main-banner--404 .main-banner__img.main-banner__img--inner img {
    width: 300px;
  }
}
.main-banner--404 .main-banner__text {
  width: 41.3%;
}
@media (max-width: 1000px) {
  .main-banner--404 .main-banner__text {
    width: 100%;
  }
}
.main-banner.main-banner--contacts .main-banner__text {
  width: 46.6%;
  padding-top: 17px;
}
.main-banner.main-banner--contacts .main-banner__text h1 {
  margin-bottom: 66px;
}
@media (max-height: 1079px) {
  .main-banner.main-banner--contacts .main-banner__text h1 {
    margin: 0 0 26px 0;
  }
}
@media (max-height: 767px) {
  .main-banner.main-banner--contacts .main-banner__text h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 1080px) {
  .main-banner.main-banner--contacts .main-banner__text h1 {
    font-size: 38px;
    margin: 0 0 13px 0;
  }
}
@media (max-width: 1080px) {
  .main-banner.main-banner--contacts .main-banner__text h1 {
    font-size: 28px;
  }
}
@media (max-width: 660px) {
  .main-banner.main-banner--contacts .main-banner__text h1 {
    text-align: center;
  }
}
@media (max-width: 1600px) {
  .main-banner.main-banner--contacts .main-banner__text {
    width: 55%;
  }
}
@media (max-width: 1000px) {
  .main-banner.main-banner--contacts .main-banner__text {
    width: 100%;
  }
}
.menu {
  position: fixed;
  -webkit-transform: translateX(-97.5%);
      -ms-transform: translateX(-97.5%);
          transform: translateX(-97.5%);
  z-index: 2000;
  width: 890px;
  left: -890px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  top: 128px;
  height: calc(100vh - 128px*2);
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
}
@media (max-height: 1079px) {
  .menu {
    top: 100px;
    height: calc(100vh - 100px*2);
  }
}
@media (max-height: 900px) {
  .menu {
    top: 100px;
    height: calc(100vh - 100px*2);
  }
}
@media (max-height: 850px) {
  .menu {
    top: 60px !important;
    height: calc(100vh - 60px*2) !important;
  }
}
@media (max-width: 1000px) {
  .menu {
    top: 49px !important;
    width: 100%;
    height: auto !important;
    position: fixed;
    overflow: auto;
    bottom: 0;
  }
}
.menu.active {
  left: 50%;
}
@media (max-width: 1660px) {
  .menu.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    left: 0px;
    padding-left: 60px;
  }
}
@media (max-width: 1440px) {
  .menu.active {
    height: calc(100vh - 90px);
    top: 90px;
  }
}
@media (max-width: 1000px) {
  .menu.active {
    left: 0px;
    padding-left: 0px;
  }
}
.menu-list {
  padding: 80px 0 0 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .menu-list {
    padding: 50px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.menu-list > li {
  width: 42%;
  margin-bottom: 48px;
}
@media (max-width: 1000px) {
  .menu-list > li {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .menu-list > li {
    margin-bottom: 18px;
  }
}
.menu-list > li > a {
  font-weight: 600;
  font-size: 36px;
  line-height: 114%;
  letter-spacing: 0.01em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 500px) {
  .menu-list > li > a {
    font-size: 26px;
  }
}
.menu-list > li > a:hover {
  color: #1562A1;
}
.menu-list > li ul {
  margin: 4px 0 0 0;
  padding: 0;
  list-style: none;
}
.menu-list > li ul li {
  margin-top: 20px;
}
.menu-list > li ul li a {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu-list > li ul li a:hover {
  color: #1562A1;
}
.burger {
  width: 38px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  margin-right: 43px;
}
.burger span {
  width: 38px;
  height: 4px;
  background: #333333;
  border-radius: 3px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
@media (max-width: 1000px) {
  .burger {
    margin-right: 0;
  }
}
.burger.active span:last-child {
  opacity: 0;
}
.burger.active span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 6px 100%;
      -ms-transform-origin: 6px 100%;
          transform-origin: 6px 100%;
}
.burger.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 18px 100%;
      -ms-transform-origin: 18px 100%;
          transform-origin: 18px 100%;
}
.main-form {
  position: fixed;
  -webkit-transform: translateX(-97.7%);
      -ms-transform: translateX(-97.7%);
          transform: translateX(-97.7%);
  z-index: 2000;
  width: 890px;
  left: -850px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  top: 128px;
  height: calc(100vh - 128px);
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 0 0 40px;
  overflow: hidden;
}
@media (max-height: 1079px) {
  .main-form {
    height: calc(100vh - 110px);
    top: 110px;
    padding-top: 20px;
  }
}
@media (max-height: 900px) {
  .main-form {
    height: calc(100vh - 100px);
    top: 100px;
  }
}
@media (max-height: 850px) {
  .main-form {
    height: calc(100vh - 60px) !important;
    top: 60px !important;
  }
}
@media (max-height: 1440px) {
  .main-form {
    height: calc(100vh - 90px);
    top: 90px;
  }
}
@media (max-width: 1000px) {
  .main-form {
    top: 49px;
    width: 100%;
    height: auto;
    position: fixed;
    overflow: auto;
    bottom: 0;
  }
}
.main-form.active {
  left: 50%;
}
@media (max-width: 1660px) {
  .main-form.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    left: 0px;
    padding-left: 60px;
  }
}
@media (max-width: 1000px) {
  .main-form.active {
    left: 0px;
    padding-left: 0;
  }
}
.main-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 171px;
}
@media (max-width: 1000px) {
  .main-form form {
    padding: 20px;
  }
}
input,
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid #CFCFCF;
  border-radius: 7px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 22px 20px;
}
input:hover,
textarea:hover {
  border: 1px solid #90A4AE;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
}
input:focus,
textarea:focus {
  border: 1px solid #1562A1;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
}
input:disable,
textarea:disable {
  background: rgba(207, 207, 207, 0.08);
  /* stroke/2 */
  border: 1px solid #CFCFCF;
}
@media (max-height: 1000px) {
  input,
  textarea {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 12px;
  }
}
.main-form__input {
  width: 100%;
  margin-bottom: 36px;
  position: relative;
}
.main-form__input label {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 22px;
  display: block;
}
@media (max-height: 737px) {
  .main-form__input {
    margin-bottom: 15px;
  }
}
@media (max-height: 653px) {
  .main-form__input {
    width: 48.5%;
  }
}
@media (max-width: 1000px) {
  .main-form__input {
    width: 100%;
  }
}
.main-form__input.main-form__input--50 {
  width: 48.5%;
}
@media (max-width: 1000px) {
  .main-form__input.main-form__input--50 {
    width: 100%;
  }
}
.main-form__input textarea {
  height: 160px;
  padding-bottom: 34px;
}
@media (max-height: 912px) {
  .main-form__input textarea {
    height: 100px;
  }
}
.main-form__input--textarea {
  position: relative;
}
.main-form__input--textarea:before {
  content: "Краткое изложение сути вопроса, не более 600 знаков";
  display: inline-block;
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #CFCFCF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main-form__input--textarea.active:before {
  bottom: -16px;
}
.main-form__privacy {
  position: relative;
  width: 100%;
  margin-bottom: 22px;
}
.main-form__privacy input {
  position: absolute;
  opacity: 0;
}
.main-form__privacy label {
  position: relative;
  vertical-align: middle;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: block;
  padding-left: 36px;
}
.main-form__privacy label:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 1px solid #90A4AE;
  border-radius: 2px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-form__privacy label a {
  color: #1562A1;
  text-decoration: underline;
}
.main-form__privacy input:checked ~ label:before {
  background-image: url(../img/icon-checkbox.svg);
  background-color: #1562A1;
}
.main-form__submit {
  height: 56px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 0 37px;
  background-image: -o-linear-gradient(180.6deg, #006DC6 0.33%, #4BABDF 99.48%);
  background-image: linear-gradient(269.4deg, #006DC6 0.33%, #4BABDF 99.48%);
  border-radius: 7.22581px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
}
.main-form__submit[disabled] {
  opacity: 0.5;
  cursor: auto;
}
.main-form__submit > span {
  position: relative;
  z-index: 1;
}
.main-form__submit:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #1562A1;
  border-radius: 7.22581px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.main-form__submit:hover:after,
.main-form__submit:focus:after {
  opacity: 1;
}
.main-form__submit[disabled]:hover:after,
.main-form__submit[disabled]:focus:after {
  opacity: 0;
}
.main-form__close {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url(../img/icon-close.svg);
  background-position: center;
  position: absolute;
  right: 115px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .main-form__close {
    right: 20px;
    width: 18px;
    height: 30px;
    width: 30px;
  }
}
.block-list {
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
@media (max-width: 1660px) {
  .block-list {
    padding: 30px;
  }
}
@media (max-width: 1024px) {
  .block-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.block-list:last-child {
  margin-bottom: 50px;
}
.block-list .block-list__left {
  width: 29%;
  margin-right: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.block-list .block-list__left h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #1562A1;
  padding: 0;
  margin: 0;
}
@media (max-width: 1300px) {
  .block-list .block-list__left h3 {
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  .block-list .block-list__left {
    width: 100%;
    margin-bottom: 20px;
  }
}
.block-list .block-list__right p {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  margin: 0 0 18px 0;
}
@media (max-width: 1300px) {
  .block-list .block-list__right p {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .block-list .block-list__right p {
    font-size: 20px;
  }
}
.block-list .block-list__right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.block-list .block-list__right ul li {
  margin: 0 0 18px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 131%;
  letter-spacing: 0.01em;
  padding: 0 0 0 26px;
  position: relative;
}
@media (max-width: 1300px) {
  .block-list .block-list__right ul li {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}
.block-list .block-list__right ul li:before {
  content: '';
  display: inline-block;
  position: absolute;
  background: #B0D0EF;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 9px;
}
.block-list .block-list__right ul li:last-child {
  margin: 0;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contacts__block {
  width: 33.3%;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 69px;
}
.contacts__block p {
  font-size: 18px;
  line-height: 22px;
  color: #007EAD;
  margin-bottom: 18px;
}
@media (max-height: 648px) {
  .contacts__block p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}
.contacts__block h4 {
  font-weight: 700;
  letter-spacing: 0.01em;
  margin: 0;
}
.contacts__block h4 a:hover {
  color: #007EAD;
}
.contacts__block h5 {
  font-weight: 700;
  letter-spacing: 0.01em;
  margin: 0 0 18px 0;
  font-size: 18px;
  line-height: 114%;
}
.contacts__block img {
  margin-bottom: 26px;
  border-radius: 100px;
}
@media (max-height: 660px) {
  .contacts__block img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
}
@media (max-width: 660px) {
  .contacts__block img {
    margin: 0 auto 10px auto;
  }
}
@media (max-height: 900px) {
  .contacts__block {
    margin-bottom: 20px;
  }
}
@media (max-height: 648px) {
  .contacts__block {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 660px) {
  .contacts__block {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
.contacts__block.contacts__block--50 {
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 0;
}
.contacts__block.contacts__block--50 img {
  margin: 0 12px 0 0;
  border-radius: 0;
}
@media (max-height: 950px) {
  .contacts__block.contacts__block--50 {
    margin-top: 0px;
  }
}
@media (max-width: 660px) {
  .contacts__block.contacts__block--50 {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: left;
  }
}
.contacts__block.contacts__block--50:hover {
  color: #007EAD;
}
.contacts__map {
  width: 42.9%;
  text-align: center;
  padding-top: 145px;
}
.contacts__map p {
  font-size: 20px;
  margin: 18px 0 0;
}
@media (max-width: 1300px) {
  .contacts__map p {
    font-size: 16px;
  }
}
@media (max-height: 1000px) {
  .contacts__map {
    padding-top: 40px;
  }
}
@media (max-width: 1000px) {
  .contacts__map {
    width: 100%;
    padding-top: 20px;
  }
}
.map {
  height: 602px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
@media (max-height: 885px) {
  .map {
    height: 500px;
  }
}
@media (max-height: 700px) {
  .map {
    height: 300px;
  }
}
@media (max-width: 1000px) {
  .map {
    height: 200px;
  }
}
footer {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  bottom: 0;
  height: 128px;
  left: 0;
  right: 0;
  background: #fff;
}
@media (max-height: 1079px) {
  footer {
    height: 110px;
  }
}
@media (max-height: 900px) {
  footer {
    height: 100px;
  }
}
@media (max-height: 850px) {
  footer {
    height: 60px !important;
  }
}
@media (max-width: 1440px) {
  footer {
    height: 90px;
  }
}
@media (max-width: 1000px) {
  footer {
    height: auto;
    position: static;
    margin-top: auto;
  }
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}
@media (max-width: 1000px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    height: auto;
  }
}
.footer-copyright {
  font-weight: 300;
  line-height: 114%;
  letter-spacing: 0.01em;
  font-size: 18px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 1660px) {
  .footer-copyright {
    left: 60px;
  }
}
@media (max-width: 1300px) {
  .footer-copyright {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .footer-copyright {
    position: static;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    margin: 20px 0 0;
  }
}
.footer-copyright.active {
  left: 39%;
}
@media (max-width: 1300px) {
  .footer-copyright.active {
    left: 40%;
  }
}
@media (max-width: 1167px) {
  .footer-copyright.active {
    left: 42%;
  }
}
@media (max-width: 1102px) {
  .footer-copyright.active {
    left: 33%;
  }
}
.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 290px;
  top: 50%;
  margin: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 1660px) {
  .footer__soc {
    right: 261px;
  }
}
@media (max-width: 1440px) {
  .footer__soc {
    right: 252px;
  }
}
@media (max-width: 1300px) {
  .footer__soc {
    right: 184px;
  }
}
@media (max-width: 1000px) {
  .footer__soc {
    position: static;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    margin: 20px 0 0;
  }
}
.footer__soc li:nth-child(2) {
  margin: 0 10px;
}
.footer__soc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F4F5F9;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
@media (max-width: 1300px) {
  .footer__soc a {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 1000px) {
  .footer__soc a {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 1300px) {
  .footer__soc a svg {
    width: 18px;
  }
}
@media (max-width: 1000px) {
  .footer__soc a svg {
    width: 22px;
  }
}
.footer__soc a:hover svg path {
  fill: #fff;
}
.footer__soc a > span {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__soc a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(180.6deg, #006DC6 0.33%, #4BABDF 99.48%);
  background: linear-gradient(269.4deg, #006DC6 0.33%, #4BABDF 99.48%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
  opacity: 0;
}
.footer__soc a:hover:after {
  opacity: 1;
}
.link:hover svg path {
  fill: red;
}
.footer__scroll {
  display: none;
  background: #FFFFFF;
  border-radius: 100px;
  width: 74px;
  height: 74px;
  background-image: url(../img/icon-up.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  right: 20px;
}
.footer__scroll:hover {
  background-color: #F4F5F9;
}
@media (max-width: 1600px) {
  .footer__scroll {
    right: 20px;
  }
}
@media (max-height: 800px) {
  .footer__scroll {
    width: 38px;
    height: 38px;
  }
}
@media (max-width: 1000px) {
  .footer__scroll {
    width: 38px;
    height: 38px;
    top: 20px;
  }
}
.footer-btn {
  display: none;
  margin: 0;
}
@media (max-width: 1000px) {
  .footer-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer-btn .main-banner__btns {
  margin: 0;
}
@media (max-width: 1105px) {
  .footer-btn .main-banner__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .footer-btn .main-banner__btns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1160px) {
  .footer-btn .btn__download {
    margin-left: 40px;
  }
}
@media (max-width: 1160px) and (max-width: 1000px) {
  .footer-btn .btn__download {
    margin-top: 10px;
  }
}
.footer-btn--contacts {
  display: block;
}
